.cell {
  padding: 5px;
  max-width: 140px;
  overflow: hidden;
  &_id {
    width: 40px;
  }
}

.input {
  // width: 40px;
  padding: 0;
  height: 24px;
  width: 140px;
  &_id {
    width: 30px;
  }
}
